@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:focus, a:visited {
  text-decoration: none;
  color: #6d708d;
  font-weight: 400;
  font-size: 0.85em;
}

body {
  background-color: #f6f6fe;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #494c5f;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body .bg {
  display: block;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-dir-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.j-c-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.monthly {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-white {
  background-color: white;
}

.bg-lg {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to bottom right, #a3a8f0, #696fdd);
}

.f-c-gb {
  color: #6d708d;
}

table {
  border-collapse: collapse;
}

table td {
  padding: 15px;
  border-bottom: 0.5px solid #b3b5c6;
  border-top: 0.5px solid #b3b5c6;
}

html, body {
  height: 100vh;
}

body {
  place-content: center;
}

body .bg #bgTop {
  height: 80vh;
  position: fixed;
  right: 0;
  top: 0;
}

body .bg #bgBottom {
  width: 30vw;
  position: fixed;
  bottom: 0;
  left: 0;
}

body header {
  margin: 0;
  padding-bottom: 1.5rem;
}

body header #title {
  letter-spacing: 0.75px;
  padding: 2.5rem 0;
}

body header .term {
  color: #b3b5c6;
  font-size: 1rem;
  line-height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body header #switch {
  position: relative;
  width: 56px;
  height: 32px;
  margin: 0 2rem;
}

body header #switch #input {
  opacity: 0;
  width: 0;
  height: 0;
}

body header #switch #slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 36px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to bottom right, #a3a8f0, #696fdd);
}

body header #switch #slider:hover {
  background-image: none;
  background-color: #a3a8f0;
}

body header #switch #slider::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

body header #switch #input:checked + #slider::before {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

body main {
  padding: 60px 32px 32px 32px;
  position: relative;
}

body main #professional {
  color: white;
  height: 112%;
  border-radius: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main #professional .learnmore {
  color: #696fdd;
}

body main .pricing {
  padding: 32px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body main .pricing .plan {
  font-size: 1.25em;
  letter-spacing: 0.5px;
}

body main .pricing .price {
  font-size: 4rem;
  line-height: 100%;
  padding: 24px 0;
}

body main .pricing .price .annual, body main .pricing .price .monthly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
}

body main .pricing .price .annual span, body main .pricing .price .monthly span {
  font-size: 2.5rem;
  line-height: 4rem;
  font-weight: 600;
  padding-right: 0.25rem;
}

body main .pricing .price .annual h3, body main .pricing .price .monthly h3 {
  letter-spacing: -2px;
}

body main .pricing .price .monthly {
  display: none;
}

body main .pricing .learnmore {
  padding: 14px 0;
  margin-top: 24px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 0.85em;
  letter-spacing: 2px;
  border: 1.25px solid white;
  color: white;
}

body main .pricing .nonpro {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a3a8f0), to(#696fdd));
  background-image: linear-gradient(to bottom right, #a3a8f0, #696fdd);
}

body main .pricing .nonpro:hover {
  border: 1.25px solid #696fdd;
  background-image: none;
  background-color: white;
  color: #696fdd;
  cursor: pointer;
}

body main .pricing #pro {
  background-color: white;
  padding: 12.75px 0;
}

body main .pricing #pro:hover {
  background-color: rgba(124, 130, 243, 0);
  color: white;
  border: 1.25px solid white;
  cursor: pointer;
}

body main #basic {
  border-radius: 12px 0 0 12px;
}

body main #master {
  border-radius: 0 12px 12px 0;
}

body footer {
  padding: 12px 0 36px 0;
}

body footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  html, body {
    height: 100%;
  }
  body {
    place-content: stretch;
  }
  body header {
    margin: 60px 0 72px 0;
    padding: 0;
    z-index: 2;
  }
  body header #title {
    font-size: 1.75rem;
    padding: 0 0 2.5rem 0;
  }
  body header .term {
    color: #b3b5c6;
    font-size: 0.85rem;
    line-height: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .bg #bgTop {
    width: 50vw;
    z-index: 0;
  }
  .bg #bgBottom {
    display: none;
  }
  #main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 5;
    padding: 0;
  }
  #main .pricing {
    margin: 0;
    padding: 32px;
  }
  #main .pricing .price h3 {
    font-size: 3.75rem;
    width: 198px;
  }
  #main #professional {
    height: 100%;
    margin: 32px 0;
  }
  #main #professional h3 {
    font-size: 3.75rem;
    width: 198px;
  }
  #main #basic, #main #master {
    border-radius: 12px;
    height: 100%;
  }
  footer {
    padding: 24px 0 48px 0;
  }
}
/*# sourceMappingURL=style.css.map */